@import '~@pqina/flip/dist/flip.css';

body {
  font-family: sans-serif;
  font-size: 48px;
}

.block-counting-box {
  display: flex;
  align-items: center;
  margin: 100vh 0;
  height: 1140px;
  background: #ccc;
}

.tick {
  font-size: 100px;
}